*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  color: #607B96;
  background-color: #010C15;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button {
  outline: none !important;
}

input, textarea {
  outline: none;

  &:focus {
    outline: none;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: none !important;
  }
}

.modal_mobile-mode {
  @apply max-md:fixed max-md:bottom-0;
  @media only screen and (max-width: 768px) {
    width: 100% !important;
  }
}

::-webkit-scrollbar {
  @apply xl:w-4 sm:w-3 xs:w-2 w-1 border-l border-line-1;
}

::-webkit-scrollbar-track {
  @apply bg-primary-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary-1;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary-1;
}